<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
  <meta charset="UTF-8">
  <title>Collection Fragment</title>
</head>
<body>
<div th:fragment="collection" class="container">
  <link rel="stylesheet" th:href="@{/css/ratings.css}">
  <h3>Card Collection</h3>
  <table>
    <thead>
    <tr>
      <th>Rarity</th>
      <th>Card Name</th>
      <th>Actions</th>
    </tr>
    </thead>
    <tr th:each="card : ${player.getCollection()}" class="card-list">
      <td th:class="(${card.getType().getRarity().toString()}=='SSR') ? 'rating1-text' :
        ((${card.getType().getRarity().toString()}=='SR') ? 'rating2-text' : null)">
        <strong><span th:text="${card.getType().getRarity()}"></span></strong>
      </td>
      <td th:text="${card.getType().getName()}"></td>
      <td>
        <a th:href="@{/cards/discard/{id}(id=${card.getId()})}">
          <button>Discard</button>
        </a>
      </td>
    </tr>
  </table>
</div>
</body>
</html>