<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Profile</title>
  <link rel="stylesheet" th:href="@{/css/home.css}">
</head>
<body>
<div th:replace="~{fragments/navbar :: navbar}"></div>
<div class="profile-container">
  <h2>Welcome <span th:text="${player.getUsername}"></span></h2>
  <div>Current Balance: <span th:text="${player.getCurrency()}"></span></div>
  <div class="container">
    <h3>Packs</h3> <a >Purchase</a>
    <table>
      <tr th:each="pack : ${player.getPacks()}" class="pack-list">
        <td th:text="${pack.getName()}"></td>
        <td th:text="${pack.getDescription()}"></td>
        <td>
          <a id="view-cart">Open</a>
        </td>
      </tr>
    </table>
  </div>
</div>
</body>
</html>